body{
    margin: 0px;
    background: linear-gradient(to top left, #6f30c0 , #df6c9c, #6cbbdf);
}
header{
    /*background-color: black;*/
    height:350px;
    text-align: center;
    font-size: large;
    font-family: 'cursive' ;
    /*color: #df6c9c;
    background-color: #6f30c0;*/
}
img{
    border-radius: 50%;
    padding: 70;
    /*margin-left: auto;
    margin-right: auto;*/
    display: block;
}
